@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

// Colors
$white: #ffffff;
$grey: #919496;
$black: #000000;
$greenSpoti: #05af40;
$boxGrey: rgb(46, 46, 46);
$darkGrey: rgb(22, 22, 22);


//Text
$text-font:'Roboto', sans-serif;
$text-info: 'Dancing Script', cursive;
$text-info2: 'Patrick Hand', cursive;
$text-info3: 'Permanent Marker', cursive;