@import './../../assets/-globalStyles.scss';


.about__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    padding-top: 75px;
    padding-bottom: 15px;
    margin-top: 125px;
    background-color: $lightBackground;
    min-width: 500px;
}

.profile__image{
    margin-top: -400px;
    position: absolute;
    width: 100px;
    border-radius: 50%;
}

.about__content {
   
   text-align: center;
   margin: 5px 0;
}

.about__info__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.about__content__presentation{
    width: 50%;
    text-align: center;
}

.icon{
    width: 15px;
    margin-right: 10px;
}