
@import './../../assets/-globalStyles.scss';


.navigation__bar{
    
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background-color: $lightBackground;
    height: 75px;
    width: 100%;
    z-index: 1;
    border-bottom: 2px solid $darkBackground;

}

.navigation__button_scroll{

    display: flex;
    align-items: center;
    color: $fontColor;
    height: 100%;
    padding: 0 50px;
    transition: background-color 500ms;
    border-left: 1px solid $lightBackground;
    border-right: 1px solid $lightBackground;
    border-top: 1px solid $lightBackground;


    &:hover{
        background-color: $darkBackground;
    }

    &:active{
    border-left: 1px solid $pageBackground;
    border-right: 1px solid $pageBackground;
    border-top: 1px solid $pageBackground;
    }
}

.navigation__button_active{
    display: flex;
    align-items: center;
    color: $fontColor;
    background-color: $darkBackground;
    height: 100%;
    padding: 0 50px;
}