
@import './../../assets/-globalStyles.scss';


.portfolio__navigation__bar{
    

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
     background-color: $lightBackground;
    height: 75px;
    width: 100%;

}

.navigation__button{

    transition: background-color 250ms, border-radius 500ms, width 100ms;
    height: 50%;
    width: 15vh;

    &:hover{

        background-color:$darkBackground;
        border-radius:50%;
        border-bottom: 1px solid black;
    }

    &:active{

        background-color:$darkBackground;
        border-radius:25px;
        width: 25vh;
    }



}