@import './../../assets/-globalStyles.scss';

.experience__container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self:  flex-start; 
    text-align: center;  
    margin: 15px 13%;
    padding: 15px;
    background-color: $itemColor;
     
    width: 400px;



}


.flex-start{
    align-self:  flex-start;   
  

}

.flex-end{
    align-self:  flex-end;   
  


}

.company__logo{

width: 100px;

}

.pair__icon__content{

display: flex;
align-items: center;


}

.exprience__item--margins{
    margin: 5px 5px;

}

.exprience__item--alignLeft{
    text-align: left;
}

.exprience__item--alignSelfCenter{
    align-self:  center; 
}

.icon{
    width:20px;
    margin-right: 10px;
}