
@import './../../assets/-globalStyles.scss';

.project__picture{

    width: 100px;
    transition: transform 500ms;
    z-index: 20;

    &:hover{

            transform: scale(5); 
          
    }

}

.github__block{

display: flex;
flex-direction: row;
align-items: center;
justify-content: center;

}

.github__icon{

    width: 30px;
    margin-right: 10px;

}

.portfolio__item--margins{

margin: 15px 0px;

}

.gitHub__link_text{

    color:$fontColor

}