.shopping-cart__item{

display: flex;
flex-direction: row;
height: 90px;
align-items: center;
justify-content: space-between;
padding-bottom: 5px;;
border-top: 2px solid rgb(223, 223, 223);

}

.item_image-name{
  display: flex;
flex-direction: row;
align-items: center;
}

.price-delete{

  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-item__delete{

  border:none;
   background-color:transparent;
   outline:none;
}

.product-item__delete-icon{
  width: 10px;
  background-color: white;
  padding: 5px 5px;
  border-radius: 5px;
  transition: background-color 150ms;
  width: 15px;
  

  &:hover{
    background-color: rgb(255, 211, 211);
  } 

  &:active{
    background-color: rgb(77, 42, 42);
  } 

  .product-item__delete-icon{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.product-item__thumbnail{

  width: 75px;
  box-shadow: 2px 2px #ecebeb;
  margin-right: 5px;
}

.cart-item-price, .cart-item-delete{

margin: 0px 10px;
font-weight: 900;


}

@media screen and (max-width: 950px) {


  .product-item__thumbnail{
      display: none;
  }

}
